{% extends 'basic.html' %}
{% block title %}homepage {% endblock %}
{% load static  %}
{% block css %}
<style>

    
*{
    margin: 0;
    padding:0; 
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body{
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    background-size:cover;
}





.leftside { width: 45%; height: auto; overflow: hidden; margin-top: 20px;}

.leftside img{  width: 600px;  height: 500px; }

.rightside{ width: 55%; height: 300px; color: white; text-align: center; margin-top: 80px; padding: 50px;}

.rightside h1{ text-align: center;
    color: #ffffff;
    font-size: 50px;
    font-weight: 900;
    text-transform: uppercase; } 

.rightside p {  
    font-size: 1.1rem; padding: 50px 0; }

.rightside button{   font-size: 17px;
    font-weight: 600;
    color: white;
    text-transform: uppercase;
    background: linear-gradient(57deg, #00C6A7 , #1E4D92 ); 
    border-radius: 4px 4px 4px 4px;
    padding: 20px 35px ; 
}



.rightside button:hover{
      background: linear-gradient(57deg, #1E4D92, #00C6A7 );   
}


/* ABOUT CSS */

.about{
    height: 600px;
    width: 100%;
    padding: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 0%;
}

.aboutText{
    position: relative;
    padding: 0 50px;
    height: inherit;
}

.aboutText h1{
    position: relative;
    left: 0px;
}

.aboutText img{
    width: 10vw;
    position: absolute;
    top: 110px;
    left: 10%;
}

.aboutList{
    width: 50%;
}

ol{
    list-style: none;
    color: #e0501b;
    margin-top: -20%;
}

ol li{
    font-size: 34px;
    position: relative;
    margin-bottom: 20px;
    border-bottom: 1px solid #ebebeb;
}

li p{
    font-size: 16px;
    color: #000;
    padding-left: 60px;
    line-height: 30px;
    opacity: 0.6;
}

li span{
    position: absolute;
    line-height: 25px;
    font-weight: 600;
}

/* button */

.rightside .btn{
    width: 180px;
    margin-top: -10px;
    padding: 14px 20px 14px 20px;
    background-color: #2f8be0;
    border-radius: 45px;
    text-align: center
}

.rightside .btn a{
    font-size: 1.2vw;
    color: #fff;
}


/* LANDING CSS */

.landing{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 10vw 60px 10vw;
    height: 100vh;
}

.landingText h1{
    font-size: 6vw;
    margin: 0 !important;
    
}

.landingText h3{
    margin: 6px !important;
    font-size: 20px;
    opacity: 0.3;
    line-height: 30px;
}

.landingText .btn{
    width: 200px;
    margin-top: 30px;
    padding: 14px 20px 14px 20px;
    background-color: #2f8be0;
    border-radius: 45px;
    text-align: center
}

.landingText .btn a{
    font-size: 1.2vw;
    color: #fff;
}

.landingImage img{
    width: 28vw;
    margin-top: -29%;
}




/* FOOTER */

body
{
  display: grid;
  justify-content: end;
  align-content: end;
  min-height: 100vh;
}
footer{
  position: relative;
  width: 100%;
  height: auto;
  padding: 50px 100px;
  background: #303036;
}
footer .container{
  width: 100%;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr;
  grid-gap: 20px;
}
footer .container .sec h2{
  position: relative;
  color: #fff;
  font-weight: 15px;
}
footer .container .sec h2::before{
  content: '';
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 50px;
  height: 2px;
  background: #ffeb3b;
}
footer .container .sec p{
  color: #fff;
}
.sci{
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(4, 50px);
  grid-gap: 10px;
}
.sci li{
  list-style: none;
}
.sci li a{
  display: inline-block;
  width: 48px;
  height: 48px;
  background: black;
  display: grid;
  align-content: center;
  justify-content: center;
  text-decoration: none;
  border-radius: 4px;
}
.sci li a:hover{
  background-color: burlywood;
}
.sci li a .fa{
  color: #fff;
  font-size: 20px;
}
.quicklinks{
  position: relative;
}
.quicklinks li{
  list-style: none;
}
.quicklinks li a{
  color: #f7f7f7;
  text-decoration: none;
  margin-bottom: 10px;
  display: inline-block;
}
.quicklinks li a:hover{
  color: #ffeb3b;
}
.info li{
  display: grid;
  grid-template-columns: 30px 1fr;
  margin-bottom: 50px;
}
.info li span:nth-child(1){
  color: #fff;
  font-size: 20px;
}
.info li span{
  color: #fff;
}
.info a{
  color: #fff;
  text-decoration: none;
}
.info a:hover{
  color: #ffeb3b;
}
.copyrightText{
  width: 100%;
  background: #343a40;
  color: #686868;
  padding: 8px 100px;
  text-align: center;
}

/* Responsive footer */
@media (max-width: 991px){
  footer{
    padding: 40px;
  }
  footer .container{
    grid-template-columns: repeat(2,1fr);
  }
  .copyrightText{
    padding: 8px 40px;
  }
}
@media (max-width: 768px){
  footer .container{
    grid-template-columns: repeat(1,1fr);
  }
}

</style> {% endblock %}

{% block body %}

        <!-- LANDING PAGE -->
 <div style="z-index: -1;" class="wrapper">

          <div class="landing">
          <div class="landingText" data-aos="fade-up" data-aos-duration="1000">
              <h1>MAKING<span style="color:#e0501b;font-size: 4vw"> HEALTHCARE SIMPLE</span> </h1>
              <h3> Aboli Hospital Management Services <br> We are always here to help you. </h3>
              <div class="btn">
                  <a href="#">Make Appointment</a>
              </div>
          </div>
          <div class="landingImage" data-aos="fade-down" data-aos-duration="2000">
              <img src="{%static 'img/bg.png'%}">
          </div>
      </div>


        <!-- ABOUT SECTION -->

        <div  class="about">
          <div class="aboutText" data-aos="fade-up" data-aos-duration="1000">
              <h1>Aboli Hospitals Services <br> <span style="color:#2f8be0;font-size:3vw">Offered:</span> </h1>
              <img src="{%static 'img/doctor-woman-400px.png'%}">
          </div>
          <div class="aboutList" data-aos="fade-left" data-aos-duration="1000">
              <ol>
                  <li> 
                      <span>01</span>
                       <p>Well-equipped clinic with all the modern equipment.</p>
                  </li>
                  <li> 
                      <span>02</span>
                       <p>The clinic has separate waiting and consultation areas which allow enough space for patients to wait conveniently at the clinic</p>
                  </li>
                  <li> 
                      <span>03</span>
                       <p>Being a specicialized Hospitals, the doctor offers a number of medical services</p>
                  </li>
                  <li> 
                      <span>04</span>
                       <p>The clinic is operational bettween 00:00 - 23:59</p>
                  </li>

              </ol>
          </div>
      </div>

</div>

      <!-- footer -->
      <footer>
      <div class="container">
        <div class="sec aboutus">
             <h2>Aboli Hospital</h2>
            <p>
              The main motive of this website is to provide a relaible service to our users with guranteed privacy.
              This website holds the detials of the patient to book their appointment.
            </p>
            <ul class="sci">
              <li><a href="https://www.facebook.com/amit.nilekar.9"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
              <li><a href=""><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
              <li><a href=""><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
              <li><a href=""><i class="fa fa-youtube-play" aria-hidden="true"></i></a></li>
            </ul> 
        </div>
        <div  class="sec quicklinks">
          <h2>Quick Links</h2>
          <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Terms and Conditions</a></li>
          </ul>
        </div>
        <div  class="sec quicklinks">
          <h2>Connect</h2>
          <ul>
            <li><a href="#">Login</a></li>
            <li><a href="#">Sign up</a></li>
          </ul>
        </div>

        <div class="sec contact">
          <h2>Contact us</h2>
          <ul class="info">
            <li>
              <span><i class="fa fa-map-marker" aria-hidden="true"></i></span>
              <span style="margin-left: 70px;">Shivaji Nagar <br> Parbhani-431401,<br>INDIA.</span>
            </li>

            <li style="margin-top: 70px;">
              <span><i class="fa fa-phone" aria-hidden="true"></i></span>
              <p><a href="tel:+12345678900">02452225818</a></p>
            </li>

            <li style="margin-top: -50px;">
              <span><i class="fa fa-envelope" aria-hidden="true"></i></span>
              <p><a href="mailto:info@awainspires.com">info@awainspires.com</a></p>
            </li>
          </ul>
        </div>
        </div>    
    </footer>

          <!-- footer End -->

      <div class="copyrightText">
       <p> &copy; DBATUCE2020G12 | Designed by The Superlatives</p>
      </div>
      <script
      src="https://kit.fontawesome.com/64d58efce2.js"
      crossorigin="anonymous"
    ></script>
    
{% endblock %}
